 @font-face {
  font-family: 'latoregular';
  src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),
       url('../fonts/lato-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*{
  font-family: "latoregular", Arial, Helvetica, sans-serif;
}

 
:root {
  --h1: 3rem;
  --h2: 2.5rem;
  --container-width: 1000px;
  box-sizing: border-box;
}